body {
  background-image: url("assets/blue bg.png");
  background-repeat: repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: 'Fira Mono', monospace;
  color: rgba(255,255,255,1);
}

.title-img {
  margin: auto;
  width: 35%;
}

.scoreboard-title {
  height: 15vh;
  display: flex;
  justify-content: center;
}

.score-container {
  height: 85vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.vertical-container {
  min-width: 10%;
  height: 90%;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.bg-yellow {
  background: rgba(255, 251, 43, 0.5);
}

.bg-magenta {
  background: rgba(255, 71, 166, 0.5);
}

.bg-lgreen {
  background: rgba(61, 255, 43, 0.5);
}

.bg-bgrey {
  background: rgba(214, 236, 255, 0.5);
}

.bg-red {
  background: rgba(252, 62, 48, 0.5);
}

.bg-purple {
  background: rgba(217, 79, 255, 0.5);
}

.bg-dgreen {
  background: rgba(26, 138, 61, 0.5);
}

.bg-blue {
  background: rgba(79, 249, 255, 0.5);
}

.player {
  --ntp-realbox-height: 44px;
  border: 0;
  border: 3px solid #ddd;
  border-radius: calc(0.5 * var(--ntp-realbox-height));
  outline: none;
  /*width: 20%;*/
  text-align: center;
  font-size: 22px;
  /*background-color: rgba(255,255,255,0);*/
  color: #fff;
  min-height: 30px;
  margin: 5px;
}
